{
  "presets": [
    ["env", {"loose": true, "modules": false}],
    "stage-2",
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
