{
  "env": {
    "amd": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "aviarc"
  ],
  "globals": {
  },
  "rules": {
    "max-lines": [
      "error",
      {
        "max": 500
      }
    ]
  }
}
