coverage/
test/
examples/
yarn.lock
.github
*.config.js
Makefile
*.sh
*.*.json
__tests__/
__mocks__/
index-dev.js
index-dev.html
index.html
flow-typed/
interfaces/
.husky
.travis.yml
*.png
*.jpg
.packj.yaml
