{
  "plugins": [
    "mocha",
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "babel/no-invalid-this": 0,
    "key-spacing": 0,
    "max-len": 0,
    "no-shadow": 0,
    "no-unused-vars": 0,
    "no-await-in-loop": 0,
    "mocha/no-exclusive-tests": "error",
  }
}
